*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

body {
	background: url(http://i65.tinypic.com/30kbodd.jpg) no-repeat;
	background-position: cover;
}

form {
	width: 400px;
}

p {
	color: white;
	font-size: 44px;
	margin-top: 65px;
	display: inline-block;
}

textarea {  
  overflow:hidden;
}

.img-twitter {
	width: 40px;
	height: 40px;
}

.daddy {
	color: black;
	font-family: Arial;
	font-size: 30px;
}

.daddy div {
	width: 400px;
	background: #E6E6E6 ;
	margin: 10px 0px;
	opacity: ;
}

#contador {
	color: white;
	font-size: 36px;
}